// 
// Styles for mobile version
// 
.cathedral-section{
    margin-top:80px;
    height:600px;
    background: url('../images/cathedral.jpg') no-repeat;
    background-size:cover;
    background-position: top center;
}

.cathedral-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-tabs{
    width:320px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    router-link{
        color: white;
        font-size: 24px;
        font-weight: 400;
        font-family: "Montserrat";
    }

    router-link:active{
        color: $green;
    }
}

.cathedral-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:250px;

    label{
        color: white;
        font-family: 'Montserrat';
        margin-bottom: 5px;
    }

    input{
        width:250px;
        height:30px;
        border: 1px solid white;
        background-color: rgba($color: #000000, $alpha: 0.5);
        margin-bottom: 15px;
        text-align: center;
        color: white;
    }

    button{
        margin-top:20px;
    }
}