// 
// Styles for the mobile version
// 
.city-section{
    margin-top:70px;
}

.city-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-img{
    width:100%;

    img{
        width:100%;
    }
}

.city-desc{
    width:100%;
    margin-top:30px;

    h2{
        margin-bottom: 5px;
    }

    p{
        margin-bottom: 20px;
    }

    img{
        width:100%;
    }
}