//
// Styles for mobile devices
//
.mobile-nav{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    z-index:100;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: 0.7s all ease-in-out;
}

.mobile-nav-open{
    transform: translateX(0%);
}

.mobile-nav-container{
    position: relative;
    width:320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        font-family: "Montserrat";
        color: white;
        text-decoration: none;
        margin-top:50px;
    }
}

.mobile-nav-cross{
    position: absolute;
    top:20px;
    right:20px;
    width:40px;
    height:40px;

    img{
        width:100%;
    }
}

//
// Styles for other devices
//
@media screen and (min-width:720px){
    .mobile-nav{
        display: none;
    }
}